main {
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  height: 200px;
  /**background-color: #22333B;*/
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  font-size: 50px;
  font-weight: 600;
}

