<div class="container-xl d-flex flex-column p-3">
  <div>
    <h2 *ngIf="isEmpty(sellableGoodInstance.id)" class="text-center text-light-emphasis">Formulario para crear productos y servicios</h2>
    <h2 *ngIf="!isEmpty(sellableGoodInstance.id)" class="text-center text-light-emphasis">Formulario para crear productos y servicios</h2>
  </div>
  
  <form [formGroup]="formSellableGood" class="row g-3 needs-validation mx-auto my-4 w-100" novalidate (ngSubmit) = "onSubmit ()">
    <div class="row">
      <div class="col-md-6 form-floating my-4">
        <input formControlName="name" value="{{sellableGoodInstance.name}}" type="text" class="form-control descripcion" id="floatingInput" placeholder="Producto 1">
        <label for="floatingInput">Nombre</label>  
      </div>
      <div class="col-md-6 form-floating my-4">
        <input formControlName="price" value="{{sellableGoodInstance.price}}" type="text" class="form-control descripcion" id="floatingInput" placeholder="Caracteristicas">
        <label for="floatingInput" >Precio base</label>  
      </div>
    </div>
    <div class="row">
      <div class="col-md form-floating my-4">
        <select [(ngModel)]="selectedType" formControlName="type" [value]="sellableGoodInstance.type" class="form-select form-select-sm descripcion" aria-label="Type">
          <option value="PRODUCT">Producto</option>
          <option value="SERVICE">Servicio</option>
        </select>
        <label for="floatingInput" >Tipo</label>  
      </div>
      <div *ngIf="isService()" class="col-md form-floating my-4">
        <input formControlName="charge" value="{{sellableGoodInstance.supportCharge}}" type="text" class="form-control descripcion" id="floatingInput">
        <label for="floatingInput" >Cargo</label>  
      </div>
      <div class="col-md d-inline-flex align-items-center my-4">
        <div class="form-floating mx-3">
          <select style="min-width: 12rem;" #selectedTax class="form-select form-select-sm descripcion" aria-label="Type">
            <option *ngFor="let tax of taxes" [value]="tax.id">{{tax.taxName}}</option>
          </select>
          <label for="floatingInput" >Impuestos</label>  
        </div>
        <button [disabled]="!isEnabled" class="btn addbutton ms-1" type="button" (click)="addTaxToSellableGood()">Agregar</button>
      </div>
    </div>
    
    <div class="my-4">
      <div class="form-control descripcion" >
        <p>Impuestos actuales</p>
        <div *ngFor="let tax of sellableGoodInstance.taxes" class="d-inline-flex my-1 mx-2  py-1 px-2 bg-info rounded">
          {{tax | taxFormatter}}
          <button type="button" class="btn btn-danger ms-2" style="--bs-btn-padding-y: .125rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="removeTax(tax)">x</button>
        </div>
      </div>
    </div>

    <div class="form-floating my-4 descripcion1">
      <textarea style="height: 100px" formControlName="description" class="form-control descripcion" placeholder="Caracteristicas..." id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Descripción</label>
    </div>
    
    <div  class="d-flex justify-content-center my-2">
      <button class="btn gobackbutton btn-lg mx-2" type="button" (click)="goToSellableGoodList()">Volver</button>
      <button *ngIf="!isEmpty(sellableGoodInstance.id)" [disabled]="formSellableGood.invalid" class="btn createbutton btn-lg" type="submit">Editar</button>
      <button *ngIf="isEmpty(sellableGoodInstance.id)" [disabled]="formSellableGood.invalid" class="btn createbutton btn-lg" type="submit">Crear</button>
    </div>
  </form>
</div>