<main>
  <header>
    <h2>Editar pedido</h2>
  </header>


  <div class="card-container" width="100%">
    <div class="card" style="width: 18rem; margin: auto;">
      <div class="card-header">
        <li class="list-group-item">Cliente: {{order?.client?.businessName}}</li>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{order?.client?.id}}</li>

        <li class="list-group-item">Beneficiario: {{order?.client?.beneficiary ? 'Sí': 'No'}}</li>
      </ul>
    </div>
  </div>

  <div class="table-section">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of order?.orderDetailDTOList">
          <td>{{detail.id}}</td>
          <td>{{detail.sellableGood.name}}</td>
          <td>{{detail.sellableGood.type == 'PRODUCT' ? 'Producto' : 'Servicio'}}</td>
          <td>{{detail.quantity}}</td>
          <td>{{detail.priceSell}}</td>

          <span class="buttons">
            <label><small>Unidades:</small> <input defaultValue="{{0}}" id="det-val-{{detail.id}}" class="number" type="number"/></label>
            <button class="btn btn-primary" [value]="detail.id" id="det-{{detail.id}}" (click)="select(detail.sellableGood, detail.id)">+</button>
          <button class="btn btn-danger" [value]="detail.id" (click)="undo(detail.id, false)">X</button>
          <button class="btn btn-dark" (click)="remove(detail)" >Cancelar</button>
          </span>
        </tr>
      </tbody>
    </table>
  </div>

  <section class="form-section">
    <form class="form">


      <h3>Lista de productos y servicios:</h3>

      <ul type="none" class="p-2">
        <li *ngFor="let item of itemList" class="list-item " >

            <span>
              {{item.name}}
            </span>
          <span>
            <label>Unidades: <input defaultValue="{{0}}" id="order-{{item.id}}" class="number" type="number"/></label>
            <button class="btn btn-primary" [value]="item.id" id="btn-{{item.id}}" (click)="select(item, null)">+</button>
          <button class="btn btn-danger" [value]="item.id" (click)="undo(item.id, true)">X</button>
          </span>
        </li>
      </ul>
      <button class="btn btn-primary" id="submit" (click)="submitOrder()">
        Enviar
      </button>
    </form>
  </section>
</main>
