<div
  class="container d-flex flex-column justify-content-sm-start align-items-center"
  id="container"
>
  <h2 class="title">Lista de {{ title }}</h2>
  <div class="table-responsive w-100 p-4" style="max-height: 600px">
    <table class="rounded p-2" id="custom-table">
      <thead>
        <tr>
          <th align="center" *ngFor="let th of headers">
            {{ th }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList">
          <td>{{ order.id }}</td>
          <td>
            {{
              order.client.businessName == null
                ? order.client.firstName + " " + order.client.lastName
                : order.client.businessName
            }}
          </td>
          <td>{{ order.dateCreated | date : "dd/MM/yyyy" }}</td>
          <td>{{ order.orderState }}</td>
          <td class="buttons">
            <button
              [routerLink]="['/order/' + order.id]"
              class="btn detailsbutton"
            >
              Ver detalles
            </button>
            <button
              (click)="validate(order?.id)"
              id="validate"
              class="btn validatebutton"
              [disabled]="
                order?.orderState === 'FINISHED' ||
                order?.orderState === 'CANCELED'
              "
            >
              Validar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="my-3"
    [routerLink]="['/order/create']"
    class="btn createbutton"
  >
    Crear nuevo pedido
  </button>
  &nbsp;
  <button
    class="my-3"
    [routerLink]="['']"
    class="btn createbutton"
  >
    Volver
  </button>
</div>
