.text-center {
  margin: 0 20px !important;
}

h2 {
  margin: 50px auto;
}

.list-table {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.list-table tbody {
  width: 100%;
  background-color: white !important;
}

.list-table th, .list-table td {
  color: #000000;
  border: none;
  text-align: center;
}

/* .btn {
  margin-left: 5px;
} */