#container {
  width: 100%;
  min-height: 100vh;
}
#container h2 {
  color: #5e503f;
  text-align: center;
  margin-top: 40px;
}
#container-list {
  margin-top: 200px;
  background-color: #eae0d5cc;
  color: #22333b;
  height: max-content;
  min-width: 80%;
}

.title {
}
#container table,
thead,
tbody,
td {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  min-height: 100px;
}
