.upper-bar {
  width: 100%;
  /* background-color: #22333B; */
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 30px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.logo img {
  height: 85px;
  margin-left: 50%;
}

.btn {
  /* color: #C6AC8F; */
  color: #EAE0D5;
}

.btn-mode svg, .btn-mode p {
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  /* background-color: #22333B; */
  background-color: black;
}

li a {
  /* color: #C6AC8F; */
  color: #EAE0D5;
}

li a:hover {
  background-color: #18252b;
}

.dropdown-toggle {
  font-size: 17px;
  border: none;
}

.show-span {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.dropdown-mode {
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
}

.btn-mode {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
}