<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" id="header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">Olvidaste la contraseña?</h5>
        <button type="button" class="close" id="button-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="form-forgot">
          <label for="email">Email:</label>
			    <input type="text" id="email" name="email" placeholder="Ingrese email" autofocus [(ngModel)]="email" required><br>
        </form>
      </div>
      <div class="modal-footer" id="footer">
        <button type="button" class="btn btn-secondary "  data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn " id="button-send" (click)="sendEmail()">Recuperar</button>
      </div>
    </div>
  </div>
</div>