#button-close {
  border:none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #6e0b0b;
  color: #fff;
  width: 26px;
}

#header{
  border: none;
}

#footer{
  border:none;
}

#form-forgot{
  display: flex;
  height: 100px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

#form-forgot label{
  margin: 12px;
  height: 40px;
 padding: 8px;
 font-weight: 700;
}

#form-forgot input{
  height: 40px;
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid rgb(126, 124, 124);
}

#button-send{
  background-color: #EAE0D5;
  font-weight: 600;
  color: #161515;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

#button-send:hover{
  background-color:#0056b3
}