.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

.form-section {

  width: 100%;
}
.form-check-label {
  display: inline;
}
.beneficiary {
  margin-bottom: 5px;
}

#container {
  min-width: fit-content;
  min-height: 100vh;
}
#container h2 {
  color: #5e503f;
  text-align: center;
  margin-top: 40px;
}
#container-list {
  margin-top: 200px;
  background-color: #eae0d5cc;
  color: #22333b;
  height: max-content;
  min-width: 100%;
  /* max-width: 140%; */
}

.text-center {
  margin: 0 20px !important;
}

#container table,
thead,
tbody,
td {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  min-height: 100px;
}
#container-button {
  width: 90%;
}

#container td, th{
  margin: 0 25px !important;
}
.number {
  width: 40px;
}

.btn-secondary {
  margin: 0 3px;
}
tbody {
  background-color: rgba(255, 255, 255, 0.9);
}
.searchbar-section {
  margin-bottom: 50px;
}

.p-2 {
  height: fit-content;
  max-height: 600px;
  overflow-y: scroll;
}

.selected {
  background-color: rgba(255, 81, 0, 0.384);
}
.list-item {
  display: flex;
  justify-content: space-between;
}
#custom-table {
  width: 50%;
}
