section{
  margin-top: 40px;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 87%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-section {
  width: 100%;
}

.form-check-label {
  display: inline;
}

.beneficiary {
  margin-bottom: 5px;
}

#container {
  min-width: fit-content;
  min-height: 100vh;
}

#container h2 {
  color: #5e503f;
  text-align: center;
  margin-top: 40px;
}

#container-list {
  margin-top: 200px;
  background-color: #eae0d5cc;
  color: #22333b;
  height: max-content;
  min-width: 100%;
  /* max-width: 140%; */
}

.text-center {
  margin: 0 20px !important;
}

#container table,
thead,
tbody,
td {
  /* background-color: black; */
  background-color: rgba(255, 255, 255, 0) !important;
  color: #22333b;
  text-align: center;
}

#custom-table {
  /* background-color: transparent; */
  color: #22333b;
  min-height: 100px;
  max-height: 500px;
  width: 87%;
}


#container-button {
  width: 90%;
}

#container td, th{
  margin: 0 25px !important;
}

.number {
  width: 60px;
  margin-right: 20px;
  border: none;
  height: 33px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-secondary {
  margin: 0 3px;
}

tbody {
  background-color: rgba(255, 255, 255, 0.9);
}

.searchbar-section {
  margin-bottom: 50px;
}

.searchbar{
  background-color: transparent !important;
}

.searchbar input{
  background-color: transparent !important;
}

.p-2 {
  height: fit-content;
  max-height: 600px;
  overflow-y: scroll;
}

.selected {
  background-color: rgba(255, 81, 0, 0.384);
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.form h3{
  text-align: center;
}

.svgbutton{
  border-radius: 100%;
  border: 1px solid black;
}

.addbutton1{
  background-color: #EAE0D5 !important;
  border: none;
  color: black
}

.addbutton2{
  margin: 0 5px;
  height: 100%;
  min-width: 35px;
  background-color: #000;
  color: #EAE0D5;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.addbutton2:hover{
  background-color:  #EAE0D5;
  color: #000;
}

.removebutton{
  background-color: rgb(97, 2, 2);
  border: none;
  border-radius: 5px;
  color: #EAE0D5;
 
}

.items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.unidades{
  height: 35px;
}