<div class="tax-creation-form">
    <h2 h2 class="text-center text-light-emphasis">Impuesto</h2>
    <div *ngIf="isEditing;" >
      <h2 h2 class="text-center text-light-emphasis">ID {{taxEdit.id}}</h2>
    </div>
    <form [formGroup]="formTax" class="row g-3 needs-validation mx-auto my-4 w-100" novalidate (ngSubmit) = "onSubmit ()">
      

      <div class="col-md-6 form-floating my-4" *ngIf="isEditing; else createMode">
        <input [disabled]="false" formControlName="taxName" value="{{taxEdit.taxName}}" type="text" class="form-control" id="floatingInput" placeholder="Escribir">
        <label for="floatingInput">Nombre</label>  
    </div>

    <ng-template #createMode >
      <div class="col-md-6 form-floating my-4">
        <input [disabled]="false" formControlName="taxName" value="{{taxEdit.taxName}}" type="text" class="form-control" id="floatingInput" placeholder="Escribir">
        <label for="floatingInput">Nombre</label>  
    </div>
    </ng-template>
    
      <div class="col-md-6 form-floating my-4">
        <input formControlName="taxPercentage" value="{{taxEdit.taxPercentage}}" type="number" class="form-control" id="floatingInput" placeholder="Orange Team">
        <label for="floatingInput" >Porcentaje</label>  
      </div>

      

      <div class="d-flex justify-content-center my-2">
        <button class="btn btn-lg mx-2 gobackbutton" type="button" (click)="goToTaxList()">Volver</button>
        <button [disabled]="formTax.invalid" class="btn btn-primary btn-lg createbutton" type="submit">{{editOrCreateText}}</button>
      </div>
    </form>
  </div>
  


  