body {
  height:90vh;
}

h1 {
  text-align: center;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}
  
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
  
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #EAE0D5;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
button[type="submit"]:hover {
  background-color: #0056b3;
}

#container-login {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: space-evenly;
  padding-top: 140px;
}

#button-forget{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 12px;
  background-color: transparent;
  border: none;
  text-decoration:underline;
}
  
#container-button-forget{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}