<div class="container-xl d-flex flex-column p-3">
    <div>
      <h2 class="text-center text-light-emphasis">Formulario de {{editOrCreateText}}</h2>
    </div>
    
    <form [formGroup]="formPerson" class="row g-3 needs-validation mx-auto my-4 w-100" novalidate (ngSubmit)="onSubmit()">
      <div class="col-md-6 form-floating my-4">
        <input formControlName="firstName" value="{{personEdit.firstName}}" type="text" class="form-control" id="floatingInput" placeholder="Nombre">
        <label for="floatingInput">Nombre de la persona</label>  
      </div>

      <div class="col-md-6 form-floating my-4">
        <input formControlName="lastName" value="{{personEdit.lastName}}" type="text" class="form-control" id="floatingInput" placeholder="Apellido">
        <label for="floatingInput">Apellido de la persona</label>  
      </div>

      <div class="col-md-4 form-floating my-4">
        <div  *ngIf="isEditing; else createMode">
          <div class="d-flex form-floating">
            <input [disabled]="true" value="{{personEdit.dni}}" type="text" class="form-control" id="floatingInput" placeholder="DNI">
            <label for="floatingInput">DNI</label>
          </div>    
        </div>
  
        <ng-template #createMode >
          <div class="d-flex form-floating">
            <input formControlName="dni" type="text" class="form-control" id="floatingInput" placeholder="DNI">
            <label for="floatingInput">DNI</label>
          </div>
        </ng-template>
      </div>
      
      <div class="d-flex justify-content-center my-2">
        <button class="btn btn-lg gobackbutton mx-2" type="button" (click)="goToPersonList()">Regresar</button>
        <button [disabled]="formPerson.invalid" class="btn btn-lg createbutton" type="submit">{{editOrCreateText}}</button>
      </div>
    </form>
</div>