td {
  text-align: center;
}

.td-client{
  text-align: center;
  color: #fff;
  border-bottom: .125rem solid rgba(0,0,0,.5);
}

.gobackbutton {
  margin-top: 25px;
  width: 100px;
  border-radius: 10px;
}

.gobackbutton:hover {
  background-color: black;
}

.generatebutton {
  background-color: black;
  font-weight: 500;
  color: #eae0d5;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  margin: 4px;
}
.generatebutton:hover {
  background-color: #eae0d5;
  color: #000;
}