td {
  text-align: center;
}

.reporttable td{
  padding: 5px;
  min-width: 100px;
  height: 45px;
}

.td-client{
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
  color: black;
  font-weight: bold;
  border-bottom: 3px solid black;
}