#container {
  width: 100%;
  min-height: 100vh;
}
#container h2 {
  color: black;
  text-align: center;
  margin-top: 140px;
}

/* #container-list {
  margin-top: 5rem;
  background-color: #eae0d5cc;
  color: #22333b;
  height: max-content;
  min-width: 70%;
  max-width: 90%;
} */

#container-list {
  /* background-color: #EAE0D5; */
  margin-top: 10px;
  color: #22333b;
  height: max-content;
  min-width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: #0A0908aa; */
  /* max-width: 140%; */
}

#custom-table {
  background-color: transparent;
  color: black;
  margin-bottom: 0 !important;
  min-height: 100px;
  width: 100%;
}

#container td,
th {
  color: black !important;
  padding: 7px 7px;
}

#container tbody td{
  color:#c3d3fd
}

#container thead th{
  color:#F0f0f0
}

/* #container table,
thead,
tbody,
td {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  background-color: transparent;
  color: #22333b;
  min-height: 100px;
} */

.taxes {
  max-width: 9rem;
  font-size: .8rem;
  text-align: center;
}

#container-button{
  display: flex;
  justify-content: end;
  margin-top: 50px;
}

.createbutton{
  background-color: transparent;
  border: 0.2em solid #22333b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: small;
  padding: 8px 20px;
  color: black;
}

#svg-add{
  width: 20px;
  height: auto;
  margin-left: 4px;
}

.editbutton{
  background-color: #EAE0D5;
  color: black;
  width: 75px;
}

.deletebutton{
  background-color: rgb(97, 2, 2);
  color: #EAE0D5;
  width: 75px;
}

.td-buttons{
  text-align: center;
  width: 190px;
}