



.ligh {
  background-color: #c4c4c4;
   z-index: -1;
}
.dark {
  background-color: #22333b;
  opacity: 80%;
  z-index: -1;
}

[data-theme="light"] {
  --background-image: url("./assets/svg/wave4.svg");
  --banner-background: #949494;
  --banner-h2: rgb(34, 51, 59);
}
[data-theme="dark"] {
  --background-image: url("./assets/svg/wave1.svg");
  --banner-background: rgb(34, 51, 59);
  --banner-h2: #c6ac8f;
}

body {
  background-image: var(--background-image);
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-position-x: left;
   min-height: 92vh;
 
}




.banner {
  background-color: var(--banner-background);
  color: var(--banner-h2);
}

.home {
  background-color: var(--background);
}

.searchbar-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  margin-top: 50px;
  width: 30%;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 15px;
  /* border: 0.5px solid #B8B8B8; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar input {
  background-color: #D9D9D9;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  border: .5px solid #B8B8B8;
}

.searchbar .bi {
  width: 12%;
}

.searchbar input::placeholder{
  text-align: center;
}

.searchbar input{
  text-align: center;
}

*{
  box-sizing: border-box;
}
*::-webkit-scrollbar {
    -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
    width:8px;
}
*::-webkit-scrollbar-button:increment {
    display: none;
} 
*::-webkit-scrollbar:horizontal {
    height: 2px;
   
}
*::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 15px;
    border: 2px solid #f1f2f3;
}
*::-webkit-scrollbar-track {
    border-radius: 15px;  
}
*::-webkit-scrollbar-button {
    display: none;
}


html, body{ 
  height: auto;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, "Helvetica Neue", sans-serif;
}
