/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("./assets/fondo-list.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

.ligh {
  background-color: #C4C4C4;
}
.dark {
  background-color: #22333B;
  opacity: 90%;
}

[data-theme="light"] {
  --background: #C4C4C4;
  --banner-background: #949494;
  --banner-h2: rgb(34, 51, 59);
}
[data-theme="dark"] {
  --background: rgb(34, 51, 59, .9);
  --banner-background: rgb(34, 51, 59, .9);
  --banner-h2: #C6AC8F;
}
body{
  background-color: var(--background);
  color: var(--banner-h2);
}
.banner {
  background-color: var(--banner-background);
  color: var(--banner-h2);

}
