<div class="container w-100 d-flex flex-column justify-content-sm-start align-items-center" id="container">
  <h2 class="title">Servicios activos</h2>
  <div class="rounded p-2 mx-4 d-flex flex-column w-100" id="container-list">
    <table class="table table-hover table-sm table-responsive" id="custom-table">
      <thead>
        <tr>
          <th style="background-color: transparent;" class="text-center" *ngFor="let field of ['Id','Nombre','Descripcion', 'Precio','Accion']">{{ field }}</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 5px;"></tr>
        <tr class="align-middle" *ngFor="let service of clientServices">
          <td class="text-center" *ngFor="let data of toData(service)" >{{data}}</td>
          <td style="text-align: center;">
            <button class="btn btn-danger btn-sm" disabled>baja</button>
          </td>
        </tr>
        <tr style="height: 5px;"></tr>
      </tbody>
    </table>
  </div>
  <div class="custom-container">
    <button type="button" (click)="goBack()" class="btn btn-primary btn-sm">volver</button>
  </div>
</div>