<app-simple-container [title]="title">
  <app-list-table [header]="['Id','Nombre','Descripcion','Precio', 'Accion']">
    <tr class="align-middle" *ngFor="let service of clientServices">
      <td class="text-center" *ngFor="let data of toData(service)" >{{data}}</td>
      <td style="text-align: center;">
        <button class="btn btn-danger btn-sm" disabled>baja</button>
      </td>
    </tr>
  </app-list-table>
  <div class="container my-2">
    <button type="button" (click)="goBack()" class="btn btn-primary">volver</button>
  </div>
</app-simple-container>