<main>
  <div class="container d-flex flex-column justify-content-sm-start align-items-center" id="container">
    <h2 class="title">Pedido</h2>
    <div class="card-container" width="100%">
      <div class="card" style="width: 25rem; margin: auto;">
        <div class="card-header text-center">
          <li class="list-group-item">Cliente: {{order?.client?.businessName == null ?
      order?.client?.firstName + " " + order?.client?.lastName : order?.client?.businessName}}</li>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID: {{order?.client?.id}}</li>

          <li class="list-group-item">Beneficiario: {{order?.client?.beneficiary ? 'Sí': 'No'}}</li>
          <li class="list-group-item">Fecha: {{order?.dateCreated | date:'dd/MM/yyyy' }}</li>
          <li class="list-group-item">Estado: {{order?.orderState}}</li>
        </ul>
      </div>
    </div>

    <table class="rounded p-2" id="custom-table" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of order?.orderDetailDTOList">
          <td>{{detail.id}}</td>
          <td>{{detail.sellableGood.name}}</td>
          <td>{{detail.sellableGood.type == 'PRODUCT' ? 'Producto' : 'Servicio'}}</td>
          <td>{{detail.quantity}}</td>
          <td>{{detail.priceSell}}</td>
        </tr>
      </tbody>
    </table>
    <div class="tfoot">
      <button (click)="validate(order?.id)" id="validate" class="btn editbutton">
        Validar
      </button>
      <button  routerLink="/order/edit/{{order?.id}}" id="edit" class="btn editbutton">
        Editar
      </button>
      <button (click)="cancel(order?.id)" id="cancel" class="btn cancelbutton">
        Cancelar
      </button>
    </div>

    <!-- <table class="table p-2" id="custom-table">
      <thead>
        <tr>
          <th align="center" >
            Precio
          </th>
          <th align="center" >
            Cantidad
          </th>
          <th align="center" >
            Nombre
          </th>
          <th align="center" >
            Tipo
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of order?.orderDetailDTOList">
          <td>{{detail.priceSell}}</td>
          <td>{{detail.quantity}}</td>
          <td>{{detail.sellableGood.name}}</td>
          <td>
            {{detail.sellableGood.type == 'PRODUCT' ? 'Producto' : 'Servicio'}}
         </td>
        </tr>
      </tbody>
      <tfoot>
        <button  routerLink="/order/edit/{{order?.id}}" id="edit" class="btn btn-primary">
          Editar
        </button>
        <button (click)="cancel(order?.id)" id="cancel" class="btn btn-danger">
          Cancelar
        </button>
      </tfoot>
    </table> -->
  </div>
</main>
