#container {
  min-width: fit-content;
  min-height: 100vh;
}
#container h2 {
  color: #5e503f;
  text-align: center;
  margin-top: 40px;
}
#container-list {
  margin-top: 200px;
  background-color: #eae0d5cc;
  color: #22333b;
  height: max-content;
  min-width: 100%;
  /* max-width: 140%; */
}
.card-container {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* .text-center {
  margin: 0 20px !important;
} */

/* #container table,
thead,
tbody,
td {
  background-color: transparent;
  color: #22333b;
  border: none;
} */

/* #custom-table {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #22333b;
  min-height: 100px;
  border: 1px solid black;
} */

#custom-table {
  color: #22333b;
  min-height: 100px;
  width: 70%;
  margin: 25px auto;
  border: 1px solid black;
  border-radius: 10px !important;
}

table,
thead,
tbody,
td {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #22333b;
  text-align: center;
}

.tfoot{
  display: flex;
  flex-direction: row;
  text-align: center;
}

tr, th{
  padding: 15px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0) !important; */
}

tbody tr td{
  padding: 10px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0) !important; */
}

#container-button {
  width: 90%;
}

#container td, th{
  margin: 0 25px !important;
}
tbody {
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 800px;
  overflow-y: scroll;
}
.table {
  width: 50%;
  min-width: 500px;
}

.card-header{
  background-color: #eae0d5a9 !important;
}

.editbutton{
  width: 150px;
  background-color: #eae0d5cc;
  color: black;
  margin: 0 5px;
}

.cancelbutton{
  width: 150px;
  background-color: black;
  color: #eae0d5cc;
  margin: 0 5px;
}