app-list-table{
  background-color: transparent !important;
}

td {
  background-color: transparent;
  color: #22333b;
}

.servicebutton{
  background-color: black !important;
  color: #EAE0D5;
  padding: 8px 10px;
}

.noservice{
  border: 1px solid rgb(97, 2, 2);;
  color: rgb(97, 2, 2);;
  width: fit-content;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}