<div
  class="container d-flex flex-column justify-content-sm-start align-items-center"
  id="container"
>
  <h2 class="title">Lista de {{ title }}</h2>
  <div class="container my-3 p-0" id="container-button">
    <button
      *ngIf="isEditable"
      class="btn my-auto"
      id="btn-custom"
      (click)="goToCreateForm()"
    >
      Agregar {{ buttonText }}
      <img id="svg-add" [src]="svgPlus" alt="SVG ADD" />
    </button>
  </div>

  <div class="rounded p-2 d-flex flex-column w-100" id="container-list">
    <table class="p-2" id="custom-table">
      <thead>
        <tr>
          <th
            style="background-color: transparent"
            class="text-center"
            *ngFor="let key of entityKeysToString"
          >
            {{ key !== "id" ? (key | translate) : ("" | translate) }}
          </th>
          <th
            *ngIf="entities.length"
            style="background-color: transparent"
            class="text-center"
          >
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 20px"></tr>
        <tr class="align-middle" *ngFor="let entity of entities">
          <td class="text-center mx-4" *ngFor="let key of entityKeys">
            {{
              key !== "id"
                ? key === "taxPercentage"
                  ? entity[key] + "%"
                  : entity[key]
                : ""
            }}
          </td>
          <td class="d-flex justify-content-center">
            <button
              *ngIf="isEditable"
              (click)="redirectToEdit(entity)"
              class="btn btn-primary mx-1 editbutton"
            >
              Editar
            </button>
            <button
              *ngIf="isEditable"
              (click)="deleteHandler(entity)"
              class="btn btn-danger mx-1 deletebutton"
            >
              Eliminar
            </button>
          </td>
        </tr>
        <tr style="height: 20px"></tr>
      </tbody>
    </table>
  </div>
  <app-button-back path="/home"></app-button-back>
</div>
