#container {
  min-width: fit-content;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

}
#container h2 {
  color: #5e503f;
  text-align: center;
  margin-top: 40px;
}
#container-list {
  
  background-color: #EAE0D5;
  color: #22333b;
  height: max-content;
  min-width: 100%;
  background-color: #0A0908aa;
  /* max-width: 140%; */
}

.text-center {
  margin: 0 20px !important;
}

#container table,
thead,
tbody,
td {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  background-color: transparent;
  color: #22333b;
}
#custom-table {
  min-height: 100px;
}

#container td,
th {
  padding: 20px 20px;
  
}
#container tbody td{
  color:#c3d3fd
}
#container thead th{
  color:#F0f0f0
}
#container-button {
  width: 100%;
  display: flex;
  justify-content: right;
}

#btn-custom {
  color: #fff;
  border: 0.2em solid #22333b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: small;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 8px 20px;
  
}
#btn-custom:hover{
  background-color: #22333b33;
}
#svg-add{
  width: 20px;
  height: auto;
  margin-left: 4px;
}

