#container {
  min-width: fit-content;
  min-height: 91vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#container h2 {
  color: black;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

#container-list {
  /* background-color: #EAE0D5; */
  color: #22333b;
  height: max-content;
  min-width: 100%;
  border: 0.1em solid #22333b;
  /* background-color: #0A0908aa; */
  /* max-width: 140%; */
}

.deletebutton{
  background-color: rgb(97, 2, 2);
  border: none;
  color: #EAE0D5;
}

.editbutton{
  background-color: #EAE0D5;
  border: none;
  color: black;
}

.text-center {
  margin: 0 20px !important;
}

#container table,
thead,
tbody,
td {
  background-color: transparent;
  color: black;
}

#container td{
  font-weight: 100;
}

#container th{
  font-weight: 600;
}

#custom-table {
  background-color: transparent;
  color: black;
  margin-bottom: 0 !important;
  min-height: 100px;
}

#container td,
th {
  color: black !important;
  padding: 7px 7px;
}

#container tbody td{
  color:#c3d3fd
}

#container thead th{
  color:#F0f0f0
}

#container-button {
  width: 100%;
  display: flex;
  justify-content: right;
}

#btn-custom {
  color: black;
  border: 0.2em solid #22333b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: small;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 8px 20px;
  
}

#btn-custom:hover{
  background-color: #22333b33;
}

#svg-add{
  width: 20px;
  height: auto;
  margin-left: 4px;
}

